/* FUENTE */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
	font-family: "Open Sans", sans-serif;
}

.index_centro {
    display: flex;
    justify-content: center;
    align-items: center;
	text-transform: uppercase;
}

.index_container{
    display: flex;
    justify-content: center;
	align-items: center;
	flex-direction: column;
}
.index{
    display: flex;
    justify-content: center;
	flex-wrap: wrap;
	min-width: 300px;
}

.index_container img {
    max-width: 100%;
    height: auto;
	margin-bottom: 10vh;
}

.index_container a{
	display: flex;
	justify-content: center;
	align-items: center;

	text-align: center;
    text-decoration: none;

    width: 45%;
	padding-top: 10%;
	padding-bottom: 10%;
	margin: 1%;

    color: black;
	transition: all 0.2s;
	border: 2px solid red;
	border-radius: 5px;
}

.index_container a:hover{
    color: red;
	cursor: pointer;
	background: #f5f5f5;
}

.index_container h2{
	display: flex;
	justify-content: center;
	align-items: center;
}

@media screen and (max-width: 675px) {
	.index_centro {
		margin-top: 10vh;
	}
	.index_container{
		width: auto;
	}
	.index_container h2{
		font-size: 1.2rem;
	}
}