/* FUENTE */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
	font-family: "Open Sans", sans-serif;
}
html{
	position: relative;
	height: 90%;
}
body{
	position: absolute;
	background-size: initial;
	background-image: url(../images/kano.png);
	background-blend-mode: luminosity;
	background-position: top center;
	background-repeat: no-repeat;
	height: 100%;
	width: 100%;
}
.index_centro {
	margin-top: 20vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
	text-transform: uppercase;
}
.index_container{
    width: 50%;
	height: 50vh;
    display: flex;
    justify-content: center;
	flex-wrap: wrap;
}
.index_container a{
	display: flex;
	justify-content: center;
	align-items: center;

	text-align: center;
    text-decoration: none;

    width: 45%;
	height: 45%;
	margin: 5px;

    color: black;
	transition: all 0.2s;
	border: 2px solid red;
	border-radius: 5px;
}
.index_container a:hover{
    color: red;
	cursor: pointer;
}
.index_container h2{
	padding: 0;
	margin: 0;
	display: flex;
	justify-content: center;
	align-items: center;
}


@media screen and (max-width: 675px) {
	.index_centro {
		margin-top: 45vh;
	}
	.index_container{
		width: auto;
	}
	body{
		background-image: url(../images/favicon.png);
	}
}