:root {
    --red: #ff1e1e;
    --unblack: #00000096;
    --black: #000;
    --white: #fff;
}
  
html{
    min-width: 300px;
}
header{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
header a{
    transition: all .2s;
    color: var(--black);
    text-decoration: none;
}
header a:hover{
    color: var(--red);
}
header .centro{
    width: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
}
header a{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5px;
    margin-inline: 5px;
}
header i{
    margin-right: 2px;
}
header h2{
    margin: 0;
}


/* Estilos para dispositivos móviles */
@media (max-width: 425px) {
    .centro{
        width: 100%;
    }
}