:root {
    --red: #ff0000;
    --unblack: #00000096;
    --black: #000;
    --white: #fff;
    --back: #363841;
    --backhover: #202227;
}
.navbar {
      overflow: hidden;
      text-align: center;
      z-index: 6;
      text-transform: uppercase;
}
.navbar a {
     display: inline-block;
     margin-right: -4px;  /* inline-block gap fix */
     color: var(--black);
     padding: 22px 22px;
     text-decoration: none;
     font-family: Poppins;
     font-size: 18px;
     -webkit-transition: background 0.3s linear;
     -moz-transition: background 0.3s linear;
     -ms-transition: background 0.3s linear;
     -o-transition: background 0.3s linear;
     transition: background 0.3s linear;
     z-index: 9;
}
    
.navbar a:hover {
    color: var(--red);
}
    
.navbar .icon {
    display: none;
}
    
/* Estilos para dispositivos móviles */ 
@media screen and (max-width: 820px) {
    .navbar a {display: none;}
    .navbar a.icon {
        margin-right: 10px;
        float: right;
        display: block;
        width: 60px;
    }
}
    
@media screen and (max-width: 820px) {
    .navbar.responsive {position: relative; top: 73px;}
    .navbar.responsive .icon {
        position: fixed;
        right: 0;
        top: 0;
    }
    .navbar.responsive a {
        float: none;
        display: block;
        text-align: center;
    }
}
