/* PELUQUEROS */
  .peluqueros{
	height: 80vh;
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: center;
  }
  .outer-div,
  .inner-div {
	height: 350px;
	max-width: 300px;
	margin: 2rem;
	position: relative;
	text-decoration: none;
  }
  .inner-div {
	margin: 0 auto;
	border-radius: 5px;
	font-weight: 400;
	color: black;
	font-size: 1rem;
	text-align: center;
  }
  .front {
	cursor: pointer;
	height: 100%;
	background: white;
	backface-visibility: hidden;
	border-radius: 5px;
	box-shadow: 0 15px 10px -10px rgba(0, 0, 0, 0.5), 0 1px 4px rgba(0, 0, 0, 0.3),
	  0 0 40px rgba(0, 0, 0, 0.1) inset;
  }
  .front__bkg-photo {
	position: relative;
	height: 300px;
	width: 300px;
	background: no-repeat;
	background-size: cover;
	backface-visibility: hidden;
	overflow: hidden;
	border-top-right-radius: 5px;
	border-top-left-radius: 5px;
	border-bottom: 2px solid black;
  }
  .front__text {
	position: relative;
	top: 10px;
	margin: 0 auto;
	font-size: 18px;
	backface-visibility: hidden;
	text-transform: uppercase;
	transition: all 2ms ease-in-out;
  }

  .outer-div:hover .front__text{
	color: red;
  }


  

