.centrar {
    font-family: Arial, sans-serif;
    margin-top: 20vh;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.profile-container {
    background-color: #ffffff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    max-width: 1000px;
    overflow: hidden;
}
.profile-header {
    display: flex;
    align-items: center;
    width: 100%;
}
.profile-image {
    position: relative;
    margin-right: 20px;
    cursor: pointer;
}
.profile-image img {
    border-radius: 50%;
    width: 150px;
    height: 150px;
    object-fit: cover;
}
.profile-image input {
    display: none;
}
.profile-details {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.profile-details p {
    margin: 5px 0;
    font-size: 16px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}
.profile-details span {
    font-weight: bold;
}
.edit-btn {
    background-color: #4CAF50;
    color: white;
    border: none;
    padding: 5px 10px;
    font-size: 14px;
    cursor: pointer;
    border-radius: 5px;
}
.edit-btn:hover {
    background-color: #45a049;
}
.buttons-container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 100%;
    margin-top: 20px;
}
.action-btn {
    flex: 1;
    margin: 0 5px 5px;
    padding: 10px 20px;
    font-size: 16px;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    text-align: center;
}
.change-password-btn {
    background-color: #4CAF50;
}
.change-password-btn:hover {
    background-color: #45a049;
}
.change-schedule-btn {
    background-color: #007BFF;
}
.change-schedule-btn:hover {
    background-color: #0069d9;
}
.delete-account-btn {
    background-color: #FF4D4D;
}
.delete-account-btn:hover {
    background-color: #e60000;
}

/* Estilos para dispositivos móviles */ 
@media screen and (max-width: 630px) {
    .profile-container, .profile-header{
        display: block;
    }
    .profile-image{
        display: flex;
        justify-content: center;
        align-items: center;
    }
}
